@font-face {
    font-family: 'Cubano';
    src: url('Cubano-Regular.woff2') format('woff2'),
        url('Cubano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

